@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body{
    padding: 0;
    max-width: 1440PX;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #191B1F;
    font-family: "Syne";
}